<div class="container">
  


<div class="row">
  <div class="col-8">
    <h4 class="text-success m-md-4">Tranding Products</h4>
  </div>
  <div class="col-4 p-2">
    <h4 class="text-success m-md-4 fs-22">View All </h4>
  </div>
</div>


<owl-carousel-o [options]="owlOptions">
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide">
        <img src="https://loremflickr.com/g/320/240/paris" alt="Content 1">
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide">
        <img src="https://loremflickr.com/320/240/dog" alt="Content 2">
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide">
        <img src="https://loremflickr.com/320/240/brazil,rio" alt="Content 3">
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide">
        <img src="https://loremflickr.com/320/240/paris,girl/all" alt="Content 4">
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide">
        <img src="https://loremflickr.com/g/320/240/paris" alt="Content 1">
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide">
        <img src="https://loremflickr.com/g/320/240/paris" alt="Content 1">
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide >
    <div class="p-1">
      <div class="slide">
        <img src="https://loremflickr.com/g/320/240/paris" alt="Content 1">
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide">
        <img src="https://loremflickr.com/g/320/240/paris" alt="Content 1">
      </div>
    </div>
  </ng-template>
</owl-carousel-o>


</div>