<div
  class="modal fade"
  id="forgotpasswordModal"
  tabindex="-1"
  aria-labelledby="forgotpasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotpasswordModalLabel">Forgot Password</h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
        >&times;</button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="d-flex justify-content-center mt120">
            <div class="brand_logo_container mt100">
              <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
            </div>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form>
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" name="" class="form-control input_user" value="" placeholder="Email">
              </div>
              <div class="d-flex justify-content-center mt-3 login_container">
                <button type="button" name="button" class="btn login_btn">send</button>
              </div>
            </form>
          </div>
      
          <div class="mt-4">
            <div class="d-flex justify-content-center links">
              Back To Login.<a href="#" data-toggle="modal"
              data-target="#userloginModal" class="btn-close text-right"
              data-dismiss="modal"
              aria-label="Close" class="ml-2">Log In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>