<!--Section: Block Content-->
<h4 class="text-success m-md-4 title" id="title">Deal of The Day</h4>
<owl-carousel-o [options]="owlOptions">
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide p-1" style="background-color: white;
    border-radius: 25px;">
        <img src="https://loremflickr.com/g/320/240/paris" style="border-radius: 25px;" alt="Content 1">
        <p class="p-1 fs-13">Product Name</p>
        <del class="pl-2">150$</del><b class="p-2">125$</b>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide p-1" style="background-color: white;
    border-radius: 25px;">
        <img src="https://loremflickr.com/320/240/dog" style="border-radius: 25px;" alt="Content 2">
        <p class="p-1 fs-13">Product Name</p>
        <del class="pl-2">150$</del><b class="p-2">125$</b>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide p-1" style="background-color: white;
    border-radius: 25px;">
        <img src="https://loremflickr.com/320/240/brazil,rio" style="border-radius: 25px;" alt="Content 3">
        <p class="p-1 fs-13">Product Name</p>
        <del class="pl-2">150$</del><b class="p-2">125$</b>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide p-1" style="background-color: white;
    border-radius: 25px;">
        <img src="https://loremflickr.com/320/240/paris,girl/all" style="border-radius: 25px;" alt="Content 4">
        <p class="p-1 fs-13">Product Name</p>
        <del class="pl-2">150$</del><b class="p-2">125$</b>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide p-1" style="background-color: white;
    border-radius: 25px;">
        <img src="https://loremflickr.com/g/320/240/paris" style="border-radius: 25px;" alt="Content 1">
        <p class="p-1 fs-13">Product Name</p>
        <del class="pl-2">150$</del><b class="p-2">125$</b>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="p-1">
      <div class="slide p-1" style="background-color: white;
    border-radius: 25px;">
        <img src="https://loremflickr.com/g/320/240/paris" style="border-radius: 25px;" alt="Content 1">
        <p class="p-1 fs-13">Product Name</p>
        <del class="pl-2">150$</del><b class="p-2">125$</b>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide class="p-1">
    <div class="p-1">
      <div class="slide p-1" style="background-color: white;
    border-radius: 25px;">
        <img src="https://loremflickr.com/g/320/240/paris" style="border-radius: 25px;" alt="Content 1">
        <p class="p-1 fs-13">Product Name</p>
        <del class="pl-2">150$</del><b class="p-2">125$</b>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide class="p-1">
    <div class="p-1">
      <div class="slide p-1" style="background-color: white;
    border-radius: 25px;">
        <img src="https://loremflickr.com/g/320/240/paris" style="border-radius: 25px;" alt="Content 1">
        <p class="p-1 fs-13">Product Name</p>
        <del class="pl-2">150$</del><b class="p-2">125$</b>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>